<div class="container">
	<div class="panel panel-default col-xs-6 col-centered" align = "left" style="padding:0px;">
		<div class="panel-heading"><h1>Formulario ingreso marca</h1></div>
		<div class="panel-body ">
			<%= render 'form' %>
		</div>
	</div>
	<br><br>
</div>