<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion estado devolucion:</strong>
  <%= @estado_devolucion.DESCRIPCION_ESTADO_DEVOLUCION %>
</p>

<%= link_to 'Edit', edit_estado_devolucion_path(@estado_devolucion) %> |
<%= link_to 'Back', estado_devolucion_index_path %>
