<h1>Lista de Insumos en bodega</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre insumo</th>
      <th>Stock insumo</th>
      <th>Precio Insumo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @v_stock_insumo.each do |v_stock_insumo| %>
      <tr>
        <% if @bodeguero.ID_LOCAL == v_stock_insumo.ID_LOCAL %>
          <td><%= v_stock_insumo.NOMBRE_UNICO_INSUMO %></td>
          <td><%= v_stock_insumo.STOCK_INSUMO_LOCAL %></td>
          <td><%= v_stock_insumo.PRECIO_INSUMO %></td>
          <td><%= link_to 'Detalles', v_stock_insumo %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% # link_to 'New V stock insumo', new_v_stock_insumo_path %>
