<% if current_usuario.ROL_USUARIO == 'A' %>
	<h1 align="center">Bienvenido Administrador</h1>
	<br><br>
<% elsif current_usuario.ROL_USUARIO == 'B' %> 
	<h1 align="center">Bienvenido Bodeguero</h1>
	<br><br>
<% elsif current_usuario.ROL_USUARIO == 'V' %>
	<h1 align="center">Bienvenido Vendedor</h1>
	<br><br>
<%end%>