<div class="container">
	<div class="panel panel-default col-xs-8 col-centered" align = "left" style="padding:0px;">
		<div class="panel-heading"><h1>Formulario Edición Cotización</h1></div>
		<div class="panel-body ">
			<%= render 'form_editar' %>
		</div>
	</div>
	<br><br>
</div>