<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion estado compra:</strong>
  <%= @estado_orden_de_compra.DESCRIPCION_ESTADO_COMPRA %>
</p>

<%= link_to 'Edit', edit_estado_orden_de_compra_path(@estado_orden_de_compra) %> |
<%= link_to 'Back', estado_orden_de_compra_index_path %>
