<p id="notice"><%= notice %></p>

<p>
  <strong>Id local:</strong>
  <%= @bodeguero.ID_LOCAL %>
</p>

<%= link_to 'Edit', edit_bodeguero_path(@bodeguero) %> |
<%= link_to 'Back', bodeguero_index_path %>
