<div class="panel panel-default">
  <div class="panel-heading"><h1>Lista de locales</h1></div>
  <div class="panel-body">
    <div class="row"><%= link_to 'Ingresar local', new_local_path, :class => "col-xs-2 btn btn-primary", :style=>"margin-left:20px;color:white;background-color:green" %>
    </div>
    <br><br><br>
    <div class="col-xs-8">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Dirección del local</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @local.each do |local| %>
          <tr>
            <td><%= local.DIRECCION_LOCAL %></td>
            <td><div class="btn-group" role="group" >
              <%= link_to 'Editar', edit_local_path(local) , :class => "btn btn-primary", :style=> "color:white;background-color:green;width:100px;" %>
              <%= link_to 'Desactivar', local, method: :delete, data: { confirm: '¿Estas seguro?' }, :class => "btn btn-danger", :style=>"width:100px;" %>
            </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <br>
</div>
