<div class="container col-centered">
	<div class="panel panel-default col-xs-8" align = "center" style="padding:0px;margin:0px;">
		<div class="panel-heading"><h1>Formulario Ingreso Venta</h1></div>
		<div class="panel-body ">
			<%= render 'form' %>
		</div>
	</div>
	<br><br>
</div>