.colorFooter{
background:#222322; color:white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:200px;
}
.body{
background-color:lightgrey;
font-family: 'Roboto', sans-serif;
margin-bottom:200px;/* Height of footer*/
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #A4A4A4;
}
