.colorFooter{
background:#222322; color:white;
}
.body{
background-color:lightgrey;
font-family: 'Roboto', sans-serif;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #A4A4A4;
}